*{
    margin: 0;
    padding: 0;
}


.wrpper{
    position: relative;
    margin: 40px;
    display: flex;
    gap: 10px;
}
.right{
    img{
        width: 100px;
    }

    display: flex;
    flex-direction: column;
    height: 400px;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */

    gap: 10px;
}

.left{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: aqua;
    img{
        width: 100%;
        height: 100%;
    }
}

.large{
    position: absolute;
    top: 0;
    left: 410px;
    width: 400px;
    height: 400px;
    background-color: red;

    display: none;
}

.mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);

    pointer-events: none;
    display: none;
}